<ion-tabs class="tabs-energized">
  <ion-tab ui-sref="tabs.recorders" title="记录" icon-off="ion-ios-compose-outline"
           icon-on="ion-ios-compose balanced"
  >
    <ion-nav-view name="tab-recorders"></ion-nav-view>
  </ion-tab>
  <ion-tab ui-sref="tabs.friends" title="好友" icon-off="ion-ios-people-outline" icon-on="ion-ios-people">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>
  <ion-tab ui-sref="tabs.circle" title="圈子" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw">
    <ion-nav-view name="tab-circle"></ion-nav-view>
  </ion-tab>
  <ion-tab ui-sref="tabs.setting" title="设置" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>
</ion-tabs>
